:root {
    /* Colores principales */
    --primary-50: #F6E2FC;
    --primary-100: #EDC5F9;
    --primary-200: #E4A7F6;
    --primary-300: #DB8AF3;
    --primary-400: #C950ED;
    --primary-500: #B617E6;
    --primary-600: #8811AD;
    --primary-700: #720E90;
    --primary-800: #2D063A;
    --primary-900: #17031D;

    /* Colores secundarios */
    --secondary-50: #FFF5DF;
    --secondary-100: #FFEABE;
    --secondary-200: #FFE09E;
    --secondary-300: #FFCC5D;
    --secondary-400: #FFC13C;
    --secondary-500: #FAAB00;
    --secondary-600: #BB8000;
    --secondary-700: #5E4000;
    --secondary-800: #3F2B00;
    --secondary-900: #1F1500;

    /* Colores neutrales */
    --neutral-50: #E8E8E8;
    --neutral-100: #D1D1D1;
    --neutral-200: #B9B9B9;
    --neutral-300: #A2A2A2;
    --neutral-400: #8B8B8B;
    --neutral-500: #747474;
    --neutral-600: #5D5D5D;
    --neutral-700: #464646;
    --neutral-800: #2E2E2E;
    --neutral-900: #171717;

    /* Blanco y negro */
    --shades-white: #F4F4F4;
    --shades-black: #0F0C11;

    --font-family-normal: "acumin-pro", sans-serif;
    --font-family-wide: "acumin-pro-wide", sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --text-sm: 0.75rem;
    --text-base: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 1.875rem;
    --text-3xl: 2rem;
    --text-4xl: 2.25rem;
    --text-5xl: 2.5rem;
    --text-6xl: 2.75rem;
    --text-7xl: 3rem;
    --text-8xl: 3.375rem;
    --text-9xl: 3.875;

}