---
import Header from '../components/ui/Header.astro';
import Footer from '../components/ui/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<link rel="stylesheet" href="https://use.typekit.net/ygm5cge.css">
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>