<main>
    <div class="title-containter">
        <img src="/assets/icons/circle.svg" alt="Circle icon" class="circle">
        <h3 class="sub-title">
            Favorite Projects
        </h3>
    </div>
</main>

<style>
    .title-container {
        display: flex;
    }

    .sub-title {
        display: flex;
    }
</style>