<div class="main-button">
    <a href="#">
        <slot />
    </a>
</div>

<style>
    .main-button {
        font-size: var(--text-base);
        font-weight: var(--font-medium);
        text-transform: uppercase;
        padding: 10px 10px;
        width: fit-content;
        border: 1px solid var(--shades-white);
        cursor: pointer;
    }
</style>