---
import Playground from "./Playground.astro";
import Projects from "./Projects.astro";
import SecondaryButton from "./SecondaryButton.astro";
---

<main class="section">
    <div class="section-cta">
        <h2 class="title">Selected Work</h2>
        <p class="section-text">This is a collection of my favorite projects, from personal to client work. I’m also glad to contribute with the web development community and open-source projects.</p>
        <SecondaryButton>Check all projects</SecondaryButton>
    </div>
    <Projects />
    <Playground />
</main>

<style>
    .section-cta {
        margin-bottom: 100px;
    }

    .title {
        font-family: var(--font-family-wide);
        font-size: var(--text-7xl);
        font-weight: var(--text-medium);
        text-transform: uppercase;
    }

    .section-text {
        font-size: var(--text-base);
        width: 526px;
        margin-bottom: 24px;
    }
</style>